{% extends "base.html" %}

{% block content %}
    <h1>Детали книги: {{ book.title }}</h1>
    {% if book.cover %}
        <img src="{{ book.cover.url }}" alt="{{ book.title }} Cover" height="200">
    {% endif %}
    <p>Название: {{ book.title }}</p>
    <p>Автор: {{ book.author.name }}</p>
    <p>Год выпуска: {{ book.year }}</p>
    <p>Описание: {{ book.description }}</p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'books:books-update' pk=book.pk %}">Редактировать</a></p>
        <p><a href="{% url 'books:books-delete' pk=book.pk %}">Удалить</a></p>
    {% endif %}
    <h2>Комментарии</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.text }} ({{ comment.user.username }})</li>
        {% empty %}
            <li>Пока нет комментариев.</li>
        {% endfor %}
    </ul>

    <!-- Форма для добавления комментариев -->
    {% if user.is_authenticated %}
        <h3>Оставить комментарий</h3>
        <form method="post" action="{% url 'books:books-comment-create' book.pk %}">
            {% csrf_token %}
            {{ comment_form.as_p }} {# Используем форму для отображения полей #}
            <button type="submit">Отправить</button>
        </form>
    {% else %}
        <p>Для добавления комментария войдите в свою учетную запись.</p>
    {% endif %}


    <a href="{% url 'books:books-list' %}">Вернуться к списку книг</a>
{% endblock %}
